*venv
spade/SPADE
playground.py
upload.py
gpt/python/gpt2_prediction_srv.py
bert/python/bert_question_answer_prediction_srv.py
*_srv.py
detectron2/python/test.jpg
detectron2/python/test2.jpg
detectron2/python/test3.jpg
.DS_Store
detectron2/python/some_image.jpeg
detectron2/python/some_image.jpg
detectron2/python/some_image.png
detectron2/python/exp1.jpeg
model_hub/vision/detectron2-bounding-boxes/bounding_boxes.py
model_hub/vision/clip/test3.jpg
model_hub/blank
model_hub/deepspeech/js/node_modules